 nav{ 
       background-color:black;
          color:white;
          padding:10px;
      border-style:ridge;
    
}

form input{
    text-align: center;
display:block ;
padding: 10px;
font-size: 25px;

}

form button{
   text-align: center;
display:block ;
padding: 10px;
font-size: 10px;
}

body{ 
    background-color: rgb(104, 128, 236);
    
}

.summary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    text-transform: uppercase;
    padding: 40px;
    font-size: 20px;
}
 

.income{
 color: #0b610b;
 font-weight: bold;   
}

.expense{
    color: red;
    font-weight: bold;
}

.four{
    background-color: rgb(25, 0, 255);
    color: aliceblue;
    display: block;
    width: 50%;
    margin-top: 25px;
    
    }
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #140a0a;
  color: white;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  border-right: 5px solid;
}

li.plus {
  border-color: rgb(29, 189, 29);
}

li.minus {
  border-color: red;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 3px 7px;
  cursor: pointer;}



h1{
  color: rgb(214, 108, 9);
}

.container {
  width: 350px;
  background: #b8b5b5;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px lab(50.8% -21.06 53.57 / 0.1);
}
